@font-face {
  font-family: 'Scriptina';
  src: url(/fonts/SCRIPTIN.ttf);
}

@font-face {
  font-family: 'Bromello';
  src: url(/fonts/bromello.ttf);
}

* {
  font-family: 'Playfair Display', Times;
}

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1 {
  font-family: 'Scriptina', 'Bromello';
  margin-bottom: 3rem !important;
}

a {
  color: #4a4a4a !important;
}

button::-moz-focus-inner {
  border: 0;
}

.navbar.is-hidden-mobile {
  min-height: 5rem !important;
}

.content {
  margin-bottom: 3rem !important;
}

.has-navbar-fixed-top {
  @media (min-width: 1024px) {
    padding-top: 5rem;
  }
}

.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
