// Import bulma styles
@import '~bulma';

// Import buefy styles
@import '~buefy/src/scss/buefy';

@font-face {
  font-family: 'Scriptina';
  src: url(/fonts/SCRIPTIN.ttf);
}

@font-face {
  font-family: 'Bromello';
  src: url(/fonts/bromello.ttf);
}

* {
  font-family: 'Playfair Display', Times;
}

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Scriptina', 'Bromello';
  margin-bottom: 3rem !important;
}

a {
  color: #4a4a4a !important;
}

button::-moz-focus-inner {
  border: 0;
}

footer {
  overflow-x: hidden;
}

/* HACK: fixes home navbar after Buefy upgrade */
@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
}

.languages {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-shadow: 1px 1px 1px black;
    padding: 0 1rem;
  }
}

.navbar.is-mobile,
.navbar-brand,
.navbar-menu {
  background-color: white; /*#504c49;*/
}

.navbar.is-hidden-mobile {
  min-height: 5rem !important;
  position: sticky !important;
}

.content {
  margin-bottom: 3rem !important;
}

.navbar {
  z-index: 2;

  .navbar-brand {
    position: fixed;
    width: 100%;
  }

  .navbar-menu {
    display: block;
    position: fixed;
    margin-top: 3.25rem;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;

    .navbar-item {
      font-size: x-large;
    }
  }

  .navbar-menu.is-active {
    opacity: 1;
    transition: opacity 0.5s;
    pointer-events: initial;
  }
}

.has-navbar-fixed-top {
  @media (max-width: 1008px) {
    padding-top: 3.25rem;
  }

  @media (min-width: 1024px) {
    padding-top: 5rem;
  }
}

.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.has-clipped-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.clickable:hover {
  opacity: 0.5;
}

/* cookie bar */
.cc-grower {
  position: fixed; /* fallback for IE */
  position: sticky;
  top: 0;
  z-index: 31;
  width: 100%;
}

.tag {
  position: relative;
  z-index: 1;

  > span {
    font-family: Arial;
  }
}
