@font-face {
  font-family: 'Scriptina';
  src: url(/fonts/SCRIPTIN.ttf);
}

@font-face {
  font-family: 'Bromello';
  src: url(/fonts/bromello.ttf);
}

* {
  font-family: 'Playfair Display', Times;
}

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Scriptina', 'Bromello';
  margin-bottom: 3rem !important;
}

a {
  color: #4a4a4a !important;
}

button::-moz-focus-inner {
  border: 0;
}

footer {
  overflow-x: hidden;
}

.navbar.is-mobile,
.navbar-brand,
.navbar-menu {
  background-color: white; /*#504c49;*/
}

.navbar.is-hidden-mobile {
  min-height: 5rem !important;
  position: sticky !important;
}

.content {
  margin-bottom: 3rem !important;
}

.navbar {
  .navbar-brand {
    position: fixed;
    width: 100%;
  }

  .navbar-menu {
    display: block;
    position: fixed;
    margin-top: 3.25rem;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
  }

  .navbar-menu.is-active {
    opacity: 1;
    transition: opacity 0.5s;
    pointer-events: initial;

    .navbar-item {
      font-size: x-large;
    }
  }
}

.has-navbar-fixed-top {
  /* apply only to IE */
  @media (min-width: 1024px) and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
    padding-top: 5rem;
  }
}

.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.has-clipped-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.clickable:hover {
  opacity: 0.5;
}

/* cookie bar */
.cc-grower {
  position: fixed; /* fallback for IE */
  position: sticky;
  top: 0;
  z-index: 31;
  width: 100%;
}

.vue-lightbox > h1 {
  font-size: 3em;
  text-align: center;
}

.vue-lightbox > ul > li {
  vertical-align: middle;
}

.vue-lightbox > ul > li:hover {
  opacity: 0.5;
}

.vue-lightbox > .lightbox-overlay {
  @media (min-width: 1024px) {
    margin-top: 5rem;
  }
}

.vue-lightbox > .lightbox-overlay > .holder,
.vue-lightbox > .lightbox-overlay > .holder > img {
  max-width: 100% !important;
  @media (min-width: 1024px) {
    max-height: calc(100vh - 7.5rem) !important;
  }
  width: initial !important;
  margin: 0 auto;
}

.vue-lightbox > .lightbox-overlay > .holder {
  margin: 50vh auto !important;
  transform: translateY(-50%);
  @media (min-width: 1024px) {
    margin: 0 auto !important;
    transform: initial;
  }
}
